.user-img > img {
    border-radius: 30px;
}
/* .AHFC_RightSecGlobal{
    margin-top: -16px !important;
} */
.AHFC_NotifyLayout,.AHFC_SearchLayout{float: left;    margin-left: 1.5rem;position: relative;
    top: 6px;
}
.AHFC_LgButton,.AHFC_LgButton:hover{   
    font-family: ahfc-robotomedium;
    letter-spacing: .06rem;
    font-size: 14px;
    background: none;
    border: none;
    padding: 0.35rem 0 0 0;
    /*margin-left: 250px;*/
    color: #e42525;}
.usernamelabMob{
    margin-top: 4px;
}
.aHFC_Menu{
    z-index:500;
    position: relative;
}
.user-img {
    width: 30px;
    height: 30px;
    margin-top: -4px;
}
.username lightning-icon {
    cursor: pointer;
    vertical-align: top;
}
.username {
    float: right;
    margin-left: 2rem;
    position: relative;
    display: inline-flex;
    margin-top: 6px;
}
.AHFC_Logostyle {
    height: 40px;
    width: auto;
}
.AHFC_CommunityHeader {
    width: 100%;
    margin: 0 8rem;
    height: 38px !important;
}
.AHFC_MiddleGrid{
   float: left;
}
.AHFC_RightGrid {
    float: right;
    display: flex;
    padding: 0 0px 0 23px;
}
/* END - LAYOUT - RIGHT*/
.AHFC_LeftGrid {
    padding-left: 0.5rem;
    float: left;
   /* WIDTH: 12%;
    */
    padding-right: 3.75rem;
}
.AHFC_LeftGrid > a {
    float: left;
    padding: 1px 14px;
    cursor: pointer;
}
.AHFC_LeftGrid > a:hover {
    text-decoration: none;
}
.user-menu-lst {
   /* border: 2px solid #d9d9d9;
    */
    border: 1px solid #d9d9d9;
    position: absolute;
    right: 0px;
   /* width: 100%;
    */
    width: 200px;
    height: auto;
   /* padding: 0 8px;
    */
    top: 52px;
    z-index: 100;
    float: left;
    left: 46px;
    background: white;
}
.user-menu-lst ul > li {
    padding: 10px 8px 10px 8px;
    cursor: pointer;
    border-bottom:2px solid #d9d9d9;
}
.ahfc_Logout{
    color: #000000;
}
.AHFC_Wrapper{
    height: 60px;
   /* padding: 10px;
    */
    background: #FFFFFF;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.08);
   /* z-index:1000;
    */
    width:100%;
    padding-top: 0.25rem;
}
.AHFC_RightSec{
    float:right;
   margin-top:3px;
}
/* END - LAYOUT - RIGHT*/
.user-menu-lst ul > li {
    padding: 10px 8px 10px 8px;
    cursor: pointer;
    border-bottom:2px solid #d9d9d9;
}
.AHFC_UserSelected{
    height:52px;
    border-bottom: 4px solid;
}
.AHFC_ProfileNoBorder{
   border-bottom:none !important
}
.user-menu-lst li a{
   color:black;
}
.user-menu-lst li>a:hover{
    color:#e42525;
    text-decoration: none;
    background-color: #F7F7F7;
}
.AHFC_DownIcon{
    --lwc-colorTextIconDefault:#e42525;
    margin-top: 2.5px;
}
.usernamelab{
    margin-left:1rem;
    font-size:14px;
    margin-right: .5rem;
    font-family: 'ahfc-robotomedium';
    letter-spacing: 0.03rem;
}
.subMenu li:hover,.user-menu-lst ul > li:hover{
    background-color: #f7f7f7;
}
.AHFC_ProfileSubmenu{
    background: #FFFFFF;
}
.AHFC_ProfileSubmenu a{
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    padding: 1rem;
}
.ahfc_Profile{
    color: #E42525;
    /* background-color: #F7F7F7; */
    border-bottom: 1px solid  #D9D9D9;
}
.AHFC_ProfileNoBorder{
    border-bottom:none !important
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
a{
    display: block;
}

/*   ---MOBILE VIEW---   */
@media (min-width: 320px) and (max-width: 767px) {
    .AHFC_LgButton,.AHFC_LgButton:hover{

        font-family: ahfc-robotomedium;
        letter-spacing: .06rem;
        font-size: 14px;
        background: none;
        border: none;
        /*padding: 0.35rem 0 0 0;
        margin-left: 250px;*/
        /*margin: 0.75rem 0.5rem 0.5rem 0rem;*/
        color: #e42525;
        top: 24px;
        left: 233px;
        padding: 0;
    }
    .AHFC_LeftGrid {
        padding-right: 0rem;
        margin-top: 5px;
    }
    .user-menu-lst li a{
        color:#E42525;
        font-weight: 700;
    }
    .AHFC_ProfileSubmenu li{
        border-bottom: 1px solid #D9D9D9;
    }
    .user-menu-lst, .AHFC_ProfileSubmenu{
        border: 0px;
    }
    .user-menu-lst {
        /* border: 2px solid #d9d9d9; */
        position: absolute;
        right: 0;
        width: 100%;
        height: auto;
        top: 65px !important;
        z-index: 100;
        float: left;
        left: 0 !Important;
        background: #fff;
    }   
    .user-menu-lst ul>li{
        padding: 1rem 1.2rem!important;
    }
    .user-menu-lst ul>li a {
        color:#e42525;
        font-size: 14px;
        font-family: 'ahfc-robotobold';
        letter-spacing: 0.06rem;  
    }
    .AHFC_RightSec {
        margin-top: 0.5rem !important;
    }
    /* .AHFC_BellIcon{
        margin-top:4px !important;
    } */
    .subMenuMob{
        background-color: #f7f7f7; 
        border-bottom: 1px solid #d9d9d9;     
    }    
    .subMenuMob li{
        display: block;    
        line-height: 2;
    }
    .subMenuMob li>a{
        color: #000;
        font-size: 14px;
        padding-left: 2.5rem;
        background: transparent!important;
        letter-spacing: 0.03rem;
    }
    .mainMenu li>a>b {
        font-size: 16px !important;    
    }
    .AHFC_CloseHeader{
        height: 0;
        /* border-radius: 7px; Salesforce scan*/
        /* position: absolute; */
        /* width: 100%; Salesforce scan*/
        background: #706e6b;
        border-radius: 9px;
        opacity: 1;
        /* left: 15px; */
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        margin: .25rem .5rem .5rem 0;
        width: 25px;
        /* height: 15px; */
        float: left;
        transition: .8s ease-in-out;
        cursor: pointer;
    }
    .AHFC_CloseIcon{ 
        --lwc-colorTextIconDefault:#706e6b; 
        display: inline-block; 
    }
    .AHFC_DownIconAcc{
        float: right;    
        margin-top: 3px;
    }
    /*Menus*/
    .AHFC_MenuOwnerlab{ 
        font-family: 'ahfc-robotobold';
        letter-spacing: 0.06rem; 
        color: #e42525;
        font-size: 14px;
        cursor: pointer;}
    .accordion {
        /* font-weight: 700; */
        background-color: #fff;
        color: #e42525;
        cursor: pointer;
        padding: 1rem 1.2rem!important;
        width: 100%;
        border-bottom: 1px solid #d9d9d9!important;
        text-align: left;
        outline: none;
        font-size: 14px;
        transition: .4s;
        border: none;
        text-transform: UPPERCASE;
        font-family: 'ahfc-robotobold';
        letter-spacing: 0.06rem;
    }
    .accordion:after {
        color:#e42525;
        font-weight: bold !important;
        float: right;
        margin-left: 5px;
    }
    .AHFC_CardStyle{
        border-bottom: 2px solid red !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }  
    .slds-accordion__summary-action{
        display:inline !important;
    }
    .mainMenu>li{
        display:block !important;
        margin-left:0 !important;
    }
    .AHFC_RightGridMob{
        float:left !Important;
    }
    .AHFC_RightGrid{
        padding-left: 0rem !important;
        width: 76%;
    }
    .AHFC_MiddleGrid{
        display:none;
    }
    .AHFC_Wrapper {
        height: 53px !important;
        padding: 0 1rem 0 1rem !important;
        border-bottom:1px solid #e8e8e8;
    }
    .mainMenu li>a:hover{
        border-bottom:none !important;
    }
    .mainMenu li>a{
        border:none !important;
        background: white;
    }
    .subMenu li a,.subMenu li{
        background:transparent !important;
        border:none !important;
    }
    .subMenu{
        width: 100%;    
        background: #f7f7f7 !important;
    }
    .menulist {
        -webkit-transition: height .12s cubic-bezier(.5,1,.22,1);
        height: 320vh;
        /* transition: .5s; */
        top: 67px;
        z-index: 30;
        position: absolute;
        left: 0;
        background: #808080c7;
        width: 100%;
        opacity: 0.;
        /* position: fixed; */
        opacity: 1;
        visibility: visible;
        transition: opacity 0.5s linear;
    }
    .subMenu li:hover,.submenu li{
        background-color:#d9d9d9 !important;
        border:none !important;
    }
    .menulist > ul {
        /* padding-left: 0.65rem;
        padding-right:0.65rem; */
        margin: 0;
        list-style: none;height: 100%;
    }
    .menulist > ul > li > a {
        text-decoration: none;
        display: block;
        padding: 1rem 1.2rem!important;
    }
    .mobile-menu-list {
        top: 35px;
        z-index: 3;
        left: 0;
    }
    .AHFC_NotifyLayout{
        margin-right: 0.3rem!important;
    }
    .username,.AHFC_NotifyLayout{
        margin-left: 2.2rem !important;
    }
    .username {
        margin-left: 0px !important;
    }
    .AHFC_CommunityHeader{
        margin:0rem !important;
        height:20px !important;
    }
    .AHFC_Logostyle{
        width: auto !important;    
        padding:0.5rem 0 0 0.5rem;
    }
    .AHFC_Logostyle img{   
        height: auto !important;
        /* object-fit: contain; */
    }
    .nav-icon2 {
        display: block;
        margin: 0.75rem 0.5rem 0.5rem 0rem;
        width: 25px;
        height: 15px;
        float: left;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }
    .nav-icon2 span {
        height: 2px;
        /* border-radius: 7px; Salesforce scan*/
        display: block;
        position: absolute;
        width: 100%;
        background:#706e6b;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    .nav-icon2 span:nth-child(2),
    .nav-icon2 span:nth-child(3) {
        top: 8px;
        height: 2px !important;
    }
    .nav-icon2 span:nth-child(4) {
        top: 16px;
    }
}