.message-container {
    display: flex;
    flex-direction: row;
    padding: 12px 16px;
    border-radius: 3px;
    border: 1px solid rgba(118, 32, 25, 0.16);
    flex-wrap: wrap;
}


/* bug fix 12261 start */

.message-container.success {
    flex-wrap: nowrap;
}


/* bug fix 12261 end */

.aHFC_leftAlignment p {
    padding-left: 0.5rem;
}

.message-container.snack-bar {
    position: fixed;
    bottom: 5px;
    right: 70px;
    min-width: 300px;
    max-width: 470px;
    width: 90%;
}

.message-content {
    margin-left: 10px;
    /* width: 92%; */
    /* width: 94%; */
    width: 84%;
}

.message-content-forReviewEasyPay {
    margin-left: 8px;
    width: 92%;
}

.aHFC_notification {
    padding-left: 0.3rem;
    text-decoration: none;
}

.message-content-forOTP {
    width: 93%;
}

.message-content-info {
    width: 93%;
}

.message-content-with-cross {
    /* width: calc(100% - 65px); */
}

.message-content p a {
    text-decoration-line: underline;
}

.single-toast-message {
    font-weight: 500;
}

.single-toast-link {
    font-weight: normal;
    display: inline-block;
    /* margin-left: 20px; */
}

.info .message-content h1,
.info .message-content p,
.info .message-content a,
.info .message-content a:hover,
.info .message-content a:focus,
.info .message-content a:active {
    color: #214757;
}

.error .message-content h1,
.error .message-content p,
.error .message-content a,
.error .message-content a:hover,
.error .message-content a:focus,
.error .message-content a:active {
    color: #762019;
}

.warning .message-content h1,
.warning .message-content p,
.warning .message-content a,
.warning .message-content a:hover,
.warning .message-content a:focus,
.warning .message-content a:active {
    color: #664216;
}

.success .message-content h1,
.success .message-content p,
.success .message-content a,
.success .message-content a:hover,
.success .message-content a:focus,
.success .message-content a:active {
    color: #273c2c;
}

.alert .message-content h1,
.alert .message-content p,
.alert .message-content a,
.alert .message-content a:hover,
.alert .message-content a:focus,
.alert .message-content a:active {
    color: #000000;
    font-weight: 400;
    position: static;
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: left;
}

.message-container.info {
    background: #daeef6;
}

.message-container.warning {
    background: #ffedd7;
}

.message-container.error {
    background: #f6d5d4;
}

.message-container.success {
    background: #e0ebe3;
}

.message-container.alert {
    background: #FFA638;
    padding-left: 6rem;
}

.close-icon-alignment {
    padding-top: 0.3rem;
}

.close-icon,
.message-icon {
    width: auto;
}

.info .close-icon-color,
.info .toast-icon-color {
    --sds-c-icon-color-foreground-default: #214757;
}

.warning .close-icon-color,
.warning .toast-icon-color {
    --sds-c-icon-color-foreground-default: #664216;
}

.error .close-icon-color,
.error .toast-icon-color {
    --sds-c-icon-color-foreground-default: #762019;
}

.success .close-icon-color,
.success .toast-icon-color {
    --sds-c-icon-color-foreground-default: #273c2c;
}

.alert .close-icon-color,
.alert .toast-icon-color {
    --sds-c-icon-color-foreground-default: #000000;
}

@media screen and (min-width: 320px) and (max-width: 540px) {
    .message-container.snack-bar {
        bottom: 10px;
        right: 20px;
        left: 20px;
        min-width: 300px;
        max-width: 100%;
        width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .message-content {
        width: 80%;
    }
    .aHFC_leftAlignment {
        padding-left: 0.5rem;
    }
    .message-content-with-cross {
        width: 76%;
    }
    .message-content-forReviewEasyPay {
        margin-left: 8px;
        width: 80%;
    }
    .message-container.alert {
        padding-left: 1.25rem;
    }
}

@media screen and (min-width: 600px) {
    .single-toast-message {
        margin-top: 7px
    }
    .message-container.alert .single-toast-message {
        margin-top: 10px
    }
}


@media screen and (min-width: 768px) and (max-width: 1026px) {
    
    .message-content-forOTP {
        width: 90%;
    }
    
  
}