.accordion
{
	max-width: 480px;
	margin: 5px auto;
	font-family: arial;
}

.drawer
{
	width:100%;
	/*border-top:1px solid #E0E0E0;*/
	border-radius:3px;
	clear: both;
	margin-bottom:2px;
}
.accordion-item
{
	/*border-bottom:1px solid #E0E0E0;*/
}

.accordion-item-active .accordion-header
{
	background:#EF6D00;
	transition:.25s;
}
.accordion-item-active .accordion-header-icon
{
	color:#fff;
}
.accordion-item-active .accordion-header h1
{
	color:#fff;
}
.accordion-item-active .accordion-header h1 a
{
	color:#fff;
	text-decoration: none;
}
.accordion-header
{
	background:#EF6D00;
	padding:15px 12px;
	cursor:pointer;
	/*border-right:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;*/
	border-radius: 10px;
	min-height:20px;
	transition:.25s;
	position: relative;
}
.accordion-header a {
	padding: 12px 0;
	width: 465px;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 15px; font-weight:bold;
}
.accordion-header h1
{
	float:left;
	font-size:20px;
	font-weight: normal;
	margin:0;
	line-height: 1.3em;
	color:#fff;
}
.accordion-header h1 a {
	color: #fff;
	text-decoration: none;
}
.accordion-content
{
	/*border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	border-top:1px solid #E0E0E0;*/
	display:none;
	padding:10px 0;
	color:#212121;
	background:#FFF;
	font-size:12px;
	line-height:1.45em;
}
.accordion-content p
{
	margin:0;
	margin-bottom: 3px;
}
.accordion-header-icon
{
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	float:right;color:#fff;
	font-size: 15px;
	vertical-align: middle;
	background: url("../images/plus.png") no-repeat center center;
	width: 24px;
	height: 24px;
}
.accordion-header-icon.accordion-header-icon-active
{
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	transform:rotate(180deg);
	color:#fff;
	background: url("../images/minus.png") no-repeat center center;
	width: 24px;
	height: 24px;
}
