.slds-spinner-message{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9051;
    transform: translate(-50%, -50%);
  }
  .slds-spinner_container{
    /* background-color:rgba(255, 255, 255,0.95); */
    position: fixed;
    z-index: 400 ;
  }
  .slds-spinner-message-possition{
    margin-top: 130px;
  }
  .slds-spinner_color.slds-spinner:before, .slds-spinner_color.slds-spinner:after, .slds-spinner_color .slds-spinner__dot-a:before, .slds-spinner_color .slds-spinner__dot-b:before, .slds-spinner_color .slds-spinner__dot-a:after, .slds-spinner_color .slds-spinner__dot-b:after, .slds-spinner--brand.slds-spinner:before, .slds-spinner--brand.slds-spinner:after, .slds-spinner--brand .slds-spinner__dot-a:before, .slds-spinner--brand .slds-spinner__dot-b:before, .slds-spinner--brand .slds-spinner__dot-a:after, .slds-spinner--brand .slds-spinner__dot-b:after {
    background-color: #CC0000;
  }

  .AHFC_LabelDetail{
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: #5E6162;
    padding-bottom: 1rem;
  }
  .slds-spinner-message{
    text-align: center;
    width: 380px;    
  }

  .action_message{
    width: 380px;
    text-align: center;
    margin-left: 500px;
  }