.THIS {
  font-size: 16px;    
}
.THIS .center {
  width: 66%;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .THIS .center {
    width: 100%;
  }
}
.THIS .header {
  font-size: 28px;
  margin-bottom: 30px;    
}
.THIS .info {
  padding: 30px 30px;
  margin-top: 30px;
  margin-bottom: 20px;
 background:#F0F0F0;
  /*background: #F6F6F6;*/
}
.THIS .info h3 {
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
}
.THIS .block {
  margin-top: 30px;
  margin-bottom: 10px;    
}
.THIS .action {
  margin-top: 30px;
  margin-bottom: 30px;    
}
.THIS label {
  display: block;
  font-weight: 600;    
}
/* helper */
.THIS .mb-sm {
  margin-bottom: 10px;
}
.THIS .mr-sm {
  margin-right: 10px;
}
.THIS .pull-right {
  float: right;
}
/* .THIS .btn {
  background: #fff;
  padding: 7px 30px;
  border-radius: 29px;
  font-size: 15px;
  border-width: 2px;
  font-weight: 600;
} */
.THIS .btn.default {
  background: #fff;
  border: 2px solid #0072CE;
  color: #0072CE;
}
.THIS .btn.primary {
  background: #0072CE;
  border: 2px solid #0072CE;
  color: #fff;
}
@media (max-width: 599px) {
    .THIS .slds-path__track {
	    padding-left: 0;
    	padding-right: 0;
	}
    .THIS .slds-path__item {
        min-width: auto !important;
    }
    .THIS .slds-path__title {
        font-size: 12px;
        white-space: normal;
        line-height: normal;
        height: 29px !important;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 768px) and (min-width: 768px) {
    .THIS .action .btn.default, 
    .THIS .action .btn.primary, 
    .THIS .action .btn.grey {
        width: auto;
    }
    .THIS .action .action__prev-cancel .btn.default {
        margin-right: 10px;
    }
    .THIS .action .btn-continue {
        margin-top: 0 !important;
	    float: right !important;
  	}
}