@import 'c/aHFC_dashboardTheme';
/*START - Secondary Header*/
.AHFC_CommunitySecHeader{width: 100%;
  padding: 0 4rem;
  height: 100px!important;
  border-bottom: 1px solid #d9d9d9;}
.AHFC_LeftGridSec {
  padding: 1rem 2rem 0.75rem 0.5rem;
  float: left;
  /* border-right: 1px solid black; */
  /* height: 55px; */
  border-right: 1px solid #d9d9d9;
  }
.AHFC_SecLogostyle{
  width: auto;
  height: 50px;
  }
.AHFC_SecLogostyle img{    object-fit: contain;
  /* width: auto; */
  height: 43px;}

.AHFC_VehImg {    width: auto;
  /* height: auto; */
  float: left;
  padding: 1rem 2rem .75rem 2rem;}
.AHFC_VehImg img{
  height: 56px;
  object-fit: contain;
  width: auto;
}

.AHFC_Vehdetail { float: left;
  padding: 0.5rem 2rem .75rem 2rem;
  line-height: 2;}
.AHFC_DetName{font-size: 18px;
  font-family: 'ahfc-roboto';}
.AHFC_Aclabel{
  color: #6b6e6e;
  font-size: 12px;
  font-weight: bold;
}

/*END - Secondary Header*/

.AHFC_ContainerSec{width: 100%;margin: 0 auto;}
.AHFC_InnerHeading{font-size:18px;}
.AHFC_Wrapperst{    
  /* padding: 2rem 4.5rem 2rem 4.5rem; */
  padding: 3rem 4.5rem 2rem 4.5rem;
}
.AHFC_InnerAround{    padding: 2rem 4rem 2rem 4rem;
}
.AHFC_Colred{color:#e22525;}
.AHFC_InnerHeadCont p>a{color:#e22525;text-decoration: underline;}
.AHFC_InnerHeadCont p{
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03rem;
  color: #5E6162;
}
.AHFC_subheading{
  color: #5e6162 !important;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02rem;
    margin-top: 1rem !important;
}
.AHFC_Linkwraphelp a{  font-weight: bold;margin-top:1rem;
}
  .AHFC_PrimHead{
    display: flex;
    align-items: center;
  }
  .AHFC_PrimHead p{
    font-family: 'ahfc-robotolight';
    font-size: 38px;
    line-height: 1;
    color: #000000;
    display: inline-block;
    /* padding: 1rem 0 0 1rem; */
    padding: 0rem 0 0 1rem;
}
.AHFC_PrimHead lightning-icon { --lwc-colorTextIconDefault:#CC0000;}
.AHFC_backArrow{
  display: inline;
  vertical-align: super;
}
/* START - FAQ Accordion */

  .AHFC_DownIconAcc{float: right;    margin-top: 3px;
  }
  .AHFC_AccFullWidth{width: 100%;margin-top:1rem;}
.accordion {
  font-weight:bold;
  background-color: #f7f7f7;
  color:#000;
  cursor: pointer;
  padding: 0.5rem 1.2rem!important;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;
  border:none;
  }
  
  /* .active, .accordion:hover {
      background-color: #ccc; 
  }*/
  
  .accordion:after {
  /* content: '\002B'; */
  color:#CC0000;
  font-weight: bold !important;
  float: right;
  margin-left: 5px;
  }
/* END - FAQ Accordion */
/* start - ICon Card*/
.AHFC_ImgAspLayout{    width: auto;
  height: 80px;
}
.AHFC_ImgAspLayout img{    width: auto;
  height: 70px;
  object-fit: contain;}
.AHFC_Icontitle{    font-size: 26px;
  font-family: 'ahfc-robotolight';
  line-height: 2;
  color: #000000;
  margin-bottom: 0.5rem;}
.AHFC_IconCardLayout{margin:2rem 0;}
.AHFC_IconCard
{background:white;
width:32%;    padding: 2rem;
 margin: 0.4rem;
 /* margin: 0 1.25rem 0 0; */

}
.AHFC_ForwardBut{float:right;}
.AHFC_ForwardBut lightning-icon { --lwc-colorTextIconDefault:#CC0000;}
/* ENd - Icon Card */


.made-payment-container-fluid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
  }
  .made-payment-heading {
    align-items: center;
  }
  
  .payment-container {
    background: grey;
    padding: 54px 100px;
  }
  .payment-mode-container {
    justify-content: space-between;
  }
  
  .due-container {
    width: 50%;
    justify-content: space-between;
  }
  .popover-content {
    position: absolute;
    top: 42px;
    right: -15px;
    width: 170px;
    background: black;
  }
  /* success info */
  .success-info {
    align-items: center;
  }
  .success-info img {
    width: 45px;
    height: 36px;
  }
  .cancel-action {
    padding-left: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .made-payment-container-fluid{
      width: 90%;
    }
    .payment-container {
      padding: 32px 20px;
    }
    .payment-mode-container{
      align-items: baseline;
    }
    .due-container {
      width: 80%;
    }
    
  }



  @media (min-width: 320px) and (max-width: 767px) {
    .AHFC_InnerHeadCont{margin: 1rem !important ;}
    .AHFC_DetName{font-size: 16px !important;}
    .AHFC_LeftGridSec{display: none;}
    .AHFC_Aclabel{padding-right: 0.5rem !important;display: inline-block !important;}
    .AHFC_Vehdetail{   line-height: 1.75 !important;
         padding: .5rem 0.5rem .75rem 0.5rem !important;
    }
    .AHFC_CommunitySecHeader{padding:0rem !important;display: inline-flex;}
.AHFC_MobLAyout{display: block;}
.AHFC_Wrapperst {
    /* padding: 0.5rem; */
    margin: 0rem 0 0rem 0;    padding: 0rem !important;

    display: block;
    /* padding: 1rem; */
}
.AHFC_PrimHead{
    padding:1rem;
}



.AHFC_ContainerSec{
    padding: 1rem;
    background-color: white;
}
.AHFC_InnerAround{padding:0rem !important;    margin: 0rem 0 0rem 0;
    display: block;
}

.AHFC_ContLayout{
    display: block ;
}
/*start Icon Card */
.AHFC_IconCardLayout{    padding: 1rem 1rem !important;
 
  display: block;    margin: 1rem 0 !important;
}
  .AHFC_IconCard {
   
    width: 100%;
    padding: 2rem !important;    margin-bottom: 1rem;

}
/* End Icon Card */
  }

/* ADA fix start */
.AHFC_removehovereffect{
  cursor: auto;
}
/* ADA fix end */
  @media screen and (min-width: 320px) and (max-width: 540px) {
    .made-payment-container-fluid,
    .payment-mode-select,
    .tracking-number,
    .payment-date {
      width: 100%;
    }
    .made-payment-heading{
      padding: 0px 20px;
    }
    .made-payment-heading h1{
      font-size: 20px;
      line-height: 26px;
    }
   
    .payment-container {
      padding: 24px 20px;
    }
    .payment-container .payment-details,
    .payment-container .select-amount-label{
      font-size: 18px;
      line-height: 28px;
    }
    .payment-container .payment-info{
      font-size: 14px;
      line-height: 20px;
    }
    .payment-mode-container {
      flex-direction: column;
    }
    .payment-mode-select{
      margin-bottom: 48px;
    }
    .ahfc-input.slds-form-element .slds-input{
      font-size: 16px;
    }
    .due-container {
      width: 100%;
      flex-direction: column;
      margin-bottom: 0px;
    }
    .due-container .ahfc-radio{
      margin-bottom: 40px;
    }
    .payment-action .cancel-btn{
      margin-top: 40px;
    }
    .AHFC_PrimHead p{
      font-size: 20px;
        font-family: 'ahfc-robotolight';
        padding: 0rem 0rem 0rem 0.5rem;
        vertical-align: text-bottom;
        color: #000000;
    }
  }