@import 'c/aHFC_dashboardTheme';
.AHFC_imgalign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.ahfc-img-raod-vally img{
    width: 100%;
}
.ahfc-faq {
    margin-top: 20px;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

.ahfc-img-raod-vally {
    position: relative;
}

.ahfc-postion-for-text {
    position: absolute;
    left: 90px;
    /*top: 144px;*/
    bottom: 0px;
}

.ahfc-title-text {
    font-weight: 200;
    padding: 24px 40px;
    background-color: #fff;
    width: 684px;
    font-size: 48px;
    font-family: ahfc-robotolight;
    height: 104px;
}

.ahfc-title-text-mobile {
    padding: 10px 20px 10px 20px;
    font-size: 22px;
    line-height: 36px;
    text-align: center;
    font-weight: 300;
    font-family: ahfc-robotolight;
}

.ahfc-contains {
    padding: 18px 20px 0 20px;
}


/* Application process section */

.ahfc-appl-sec-text {
    letter-spacing: 0.48px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    font-family: ahfc-robotolight;
}

.ahfc-appl-prc {
    margin-top: 32px;
}

.ahfc-section-header {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    font-family: ahfc-robotolight;
    margin-bottom: 22px;
}

.ahfc-apl-prc-img {
    position: relative;
}

.ahfc-apl-prc-sym {
    position: absolute;
    top: 149px;
    left: 24px;
}

.ahfc-apl-prc-contains {
    background-color: #F7F7F7;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 35px;
}

.ahfc-apl-prc-contains-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    font-family: ahfc-robotolight;
}

.ahfc-apl-prc-contains-data-row-img {
    width: 18px;
    height: 13px;
}

.ahfc-apl-prc-contains-data-row-text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.48px;
}

.ahfc-apl-prc-contains-data {
    margin-top: 24px;
}

.ahfc-padding {
    padding: 0 !important;
}

.ahfc-appl-sec-btn {
    margin-top: 16px;
}

.ahfc-btn {
    letter-spacing: 0.96px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    color: white;
    width: 100%;
    line-height: 16px;
    background-color: #CC0000;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    font-weight: 600;
}

.ahfc-btn-wht {
    letter-spacing: .96px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px;
    color: #CC0000;
    width: 100%;
    line-height: 16px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 3px solid #CC0000;
    font-weight: 700;
}

.ahfc-follow-up-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    font-family: ahfc-robotolight;
    color: #CC0000;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 0.96px;
}

.ahfc-follow-up-text-sec {
    margin-top: 28px;
}

.ahfc-knw-more {
    position: relative;
    margin-top: 32px;
}

.ahfc-knw-more-main-img {
    position: absolute;
    top: -16px;
    left: 0;
}

.ahfc-knw-more-main-text {
    padding-bottom: 32px;
    padding-top: 38px;
    padding-left: 81px;
    padding-right: 24px;
}

.ahfc-knw-more-main {
    margin-left: 16px;
    padding-top: 16px;
    background-color: #F7F7F7;
}

.ahfc-knw-more-main-text-1 {
    color: black;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    font-family: ahfc-robotolight;
}

.ahfc-knw-more-main-text-2 {
    letter-spacing: 0.48px;
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: ahfc-robotolight;
}


/*pop up */

.slds-modal__close {
    position: static !important;
}

.ahfc-pop-close {
    float: right;
    display: flex;
    margin-top: 17px;
}

.ahfc-pop-container-title {
    color: black;
    font-size: 20px;
    line-height: 66px;
    font-weight: 300;
    font-family: ahfc-robotolight;
}

.ahfc-pop-container-title-text {
    margin-top: 23px;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: 24px;
    font-weight: 400;
    font-family: ahfc-robotolight;
    color: #5E6162;
}

.ahfc-pop-selection {
    margin-top: 25px;
}

.ahfc-pop-img-title {
    text-align: center;
    margin-top: 16px;
    font-size: 14px;
    letter-spacing: .48px;
    line-height: 20px;
    font-weight: 600;
    font-family: ahfc-robotolight;
    text-transform: uppercase;
    margin-bottom: 32px;
    color: black;
}

.ahfc-pop-img {
    cursor: pointer;
    border: 1px solid #D9D9D9;
    Display: flex;
    justify-content: center;
    align-items: center;
    height: 157px;
}


/* @media screen and (max-width: 555px) { */

@media screen and (min-width: 768px) and (max-width:800px){
    .slds-modal__container {
        margin: 0px !important;
        padding: 0px !important;
    }
    .ahfc-para-1 {
        font-size: 16px;
        line-height: 24px;
        font-family: ahfc-robotolight;
        font-weight: 600;
        letter-spacing: 0.32px;
    }
    .ahfc-para-2 {
        font-weight: 600;
        letter-spacing: 0.32px;
        margin-top: 24px;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 36px;
        font-family: ahfc-robotolight;
    }
    .ahfc-apl-prc-sym {
        position: relative;
        top: -24px;
        left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .ahfc-desc-pading {
        padding-right: 72px;
    }
    .ahfc-contains {
        padding: 43px 130px 0 130px;
    }
    .ahfc-para-1 {
        font-size: 26px;
        line-height: 36px;
        font-family: ahfc-robotolight;
    }
    .ahfc-para-2 {
        margin-top: 41px;
        font-size: 26px;
        line-height: 36px;
        font-family: ahfc-robotolight;
    }
    /* Application process section */
    .ahfc-appl-prc {
        margin-top: 40px;
    }
    .ahfc-section-header {
        font-size: 38px;
        line-height: 48px;
        font-weight: 300;
        font-family: ahfc-robotolight;
    }
    .ahfc-col-mrg {
        margin-right: 20px;
    }
    .ahfc-apl-prc-contains {
        height: 400px;
    }
    .ahfc-apl-prc-contains-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 300;
        font-family: ahfc-robotolight;
    }
    .ahfc-apl-prc-contains-data {
        margin-top: 30px;
    }
    .ahfc-apl-prc-contains-data {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        font-family: ahfc-robotolight;
    }
    .ahfc-apl-prc-contains-data-row-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        letter-spacing: 0.48px;
    }
    .ahfc-appl-sec-text {
        letter-spacing: 0.48px;
        color: black;
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        font-family: ahfc-robotolight;
    }
    .ahfc-follow-up-text-sec {
        margin-top: 24px;
    }
    .ahfc-knw-more-main {
        margin-left: 16px;
        padding-top: 16px;
        height: 336px;
        background-color: #F7F7F7;
    }
    .ahfc-knw-more-main-text {
        padding-top: 38px;
        padding-left: 81px;
        padding-right: 24px;
    }
    .ahfc-knw-more-main-text-1 {
        color: black;
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
        font-family: ahfc-robotolight;
    }
    .ahfc-knw-more-main-text-2 {
        letter-spacing: 0.48px;
        margin-top: 16px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        font-family: ahfc-robotolight;
    }
    /* pop up css*/
    .ahfc-pop-container {
        margin-top: 24px;
        margin-left: 100px;
        margin-right: 100px;
    }
    .ahfc-pop-container-title {
        color: black;
        font-size: 26px;
        line-height: 36px;
        font-weight: 300;
        font-family: ahfc-robotolight;
    }
    .ahfc-pop-container-title-text {
        margin-top: 16px;
        font-size: 18px;
        letter-spacing: 0.32px;
        line-height: 22px;
        font-weight: 400;
        font-family: ahfc-robotolight;
        color: #5E6162;
    }
    .slds-modal__container {
        max-width: 780px !important;
        width: 780px !important;
    }
    .ahfc-pop-img {
        cursor: pointer;
        border: 1px solid #D9D9D9;
        Display: flex;
        justify-content: center;
        align-items: center;
        height: 180px;
    }
    .ahfc-pop-img-title {
        text-align: center;
        margin-top: 19px;
        font-size: 14px;
        letter-spacing: .48px;
        line-height: 20px;
        font-weight: 600;
        font-family: ahfc-robotolight;
        text-transform: uppercase;
        margin-bottom: 28px;
        color: black;
    }
    .ahfc-pop-close {
        float: right;
        display: flex;
    }
}


/* Mobile fixes  */

@media screen and (min-width: 320px) and (max-width:375px){
    .ahfc-apl-prc-sym {
        position: absolute;
        top:135px;
        /*top: 94px !important;*/
        left: 24px;
    }
}

.AHFC_imgalign {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* ipad fixes start */

@media screen and (min-width: 1024px) and (max-width: 1042px) {
    .ahfc-contains {
        padding: 100px 130px 0 130px !important;
    }
    .ahfc-apl-prc-sym {
        position: relative;
        top: -24px;
        left: 24px;
    }
    .AHFC_imgalign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .ahfc-knw-more-main-text {
        padding-top: 0px !important;
        padding-left: 71px !important;
        padding-right: 0px !important;
    }
    .ahfc-knw-more-main {
        height: 440px !important;
    }
    .ahfc-apl-prc-contains {
        height: 450px !important;
    }
}
/* ipad fixes end */